version: "3.7"

x-ui-default: &ui-default
  init: true
  image: dessalines/app_108jobs-ui:0.19.6
  # assuming app_108jobs-ui is cloned besides app_108jobs directory
  # build:
  #   context: ../../../app_108jobs-ui
  #   dockerfile: dev.dockerfile
  environment:
    - app_108jobs_UI_HTTPS=false

x-app_108jobs-default: &app_108jobs-default
  build:
    context: ../..
    dockerfile: docker/Dockerfile
  environment:
    - RUST_BACKTRACE=1
    - RUST_LOG="warn,app_108jobs_server=debug,app_108jobs_api=debug,app_108jobs_api_common=debug,app_108jobs_api_crud=debug,app_108jobs_apub=debug,app_108jobs_db_schema=debug,app_108jobs_db_views=debug,app_108jobs_routes=debug,app_108jobs_utils=debug,app_108jobs_websocket=debug"
  restart: always

x-postgres-default: &postgres-default
  image: pgautoupgrade/pgautoupgrade:15-alpine
  environment:
    - POSTGRES_USER=app_108jobs
    - POSTGRES_PASSWORD=password
    - POSTGRES_DB=app_108jobs
  restart: always

services:
  nginx:
    image: nginx:1-alpine
    ports:
      - "8540:8540"
      - "8550:8550"
      - "8560:8560"
      - "8570:8570"
      - "8580:8580"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:Z
    restart: always
    depends_on:
      - pictrs
      - app_108jobs-alpha-ui
      - app_108jobs-beta-ui
      - app_108jobs-gamma-ui
      - app_108jobs-delta-ui
      - app_108jobs-epsilon-ui

  pictrs:
    restart: always
    image: asonix/pictrs:0.5.17-pre.9
    user: 991:991
    volumes:
      - ./volumes/pictrs_alpha:/mnt:Z
    environment:
      - PICTRS__SERVER__API_KEY=my-pictrs-key

  app_108jobs-alpha-ui:
    <<: *ui-default
    environment:
      - app_108jobs_UI_app_108jobs_INTERNAL_HOST=app_108jobs-alpha:8541
      - app_108jobs_UI_app_108jobs_EXTERNAL_HOST=localhost:8541
    depends_on:
      - app_108jobs-alpha
  app_108jobs-alpha:
    <<: *app_108jobs-default
    volumes:
      - ./app_108jobs_alpha.hjson:/config/config.hjson:Z
    depends_on:
      - postgres_alpha
    ports:
      - "8541:8541"
  postgres_alpha:
    <<: *postgres-default
    volumes:
      - ./volumes/postgres_alpha:/var/lib/postgresql/data:Z

  app_108jobs-beta-ui:
    <<: *ui-default
    environment:
      - app_108jobs_UI_app_108jobs_INTERNAL_HOST=app_108jobs-beta:8551
      - app_108jobs_UI_app_108jobs_EXTERNAL_HOST=localhost:8551
    depends_on:
      - app_108jobs-beta
  app_108jobs-beta:
    <<: *app_108jobs-default
    volumes:
      - ./app_108jobs_beta.hjson:/config/config.hjson:Z
    depends_on:
      - postgres_beta
    ports:
      - "8551:8551"
  postgres_beta:
    <<: *postgres-default
    volumes:
      - ./volumes/postgres_beta:/var/lib/postgresql/data:Z

  app_108jobs-gamma-ui:
    <<: *ui-default
    environment:
      - app_108jobs_UI_app_108jobs_INTERNAL_HOST=app_108jobs-gamma:8561
      - app_108jobs_UI_app_108jobs_EXTERNAL_HOST=localhost:8561
    depends_on:
      - app_108jobs-gamma
  app_108jobs-gamma:
    <<: *app_108jobs-default
    volumes:
      - ./app_108jobs_gamma.hjson:/config/config.hjson:Z
    depends_on:
      - postgres_gamma
    ports:
      - "8561:8561"
  postgres_gamma:
    <<: *postgres-default
    volumes:
      - ./volumes/postgres_gamma:/var/lib/postgresql/data:Z

  # An instance with only an allowlist for beta
  app_108jobs-delta-ui:
    <<: *ui-default
    environment:
      - app_108jobs_UI_app_108jobs_INTERNAL_HOST=app_108jobs-delta:8571
      - app_108jobs_UI_app_108jobs_EXTERNAL_HOST=localhost:8571
    depends_on:
      - app_108jobs-delta
  app_108jobs-delta:
    <<: *app_108jobs-default
    volumes:
      - ./app_108jobs_delta.hjson:/config/config.hjson:Z
    depends_on:
      - postgres_delta
    ports:
      - "8571:8571"
  postgres_delta:
    <<: *postgres-default
    volumes:
      - ./volumes/postgres_delta:/var/lib/postgresql/data:Z

  # An instance who has a blocklist, with app_108jobs-alpha blocked
  app_108jobs-epsilon-ui:
    <<: *ui-default
    environment:
      - app_108jobs_UI_app_108jobs_INTERNAL_HOST=app_108jobs-epsilon:8581
      - app_108jobs_UI_app_108jobs_EXTERNAL_HOST=localhost:8581
    depends_on:
      - app_108jobs-epsilon
  app_108jobs-epsilon:
    <<: *app_108jobs-default
    volumes:
      - ./app_108jobs_epsilon.hjson:/config/config.hjson:Z
    depends_on:
      - postgres_epsilon
    ports:
      - "8581:8581"
  postgres_epsilon:
    <<: *postgres-default
    volumes:
      - ./volumes/postgres_epsilon:/var/lib/postgresql/data:Z
